/* ---------------------------- Variables ---------------------------- */
html {
  margin: 0;
  padding: 0; }

body {
  background: #f2f2f2;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

/* ---------------------------- Apply Page Colours ---------------------------- */
.bg-white {
  background-color: #fff; }

/* Home */
.home #angle-bar polygon.primary,
.home .content h2::before,
.home #main-cta li a.cta {
  fill: #5E00F8;
  background-color: #5E00F8; }
.home .logo path {
  fill: #000000; }

/* Work */
.work #angle-bar polygon.primary,
.work .content h2::before
#main-cta li a.cta {
  fill: #00D387;
  background-color: #00D387; }
.work .logo path {
  fill: #D9008F; }

/* Services */
.services #angle-bar polygon.primary,
.services .content h2::before,
.services #main-cta li a.cta {
  fill: #0072C8;
  background-color: #0072C8; }
.services .logo path {
  fill: #ff0000; }

/* About */
.about #angle-bar polygon.primary,
.about .content h2::before,
.about #main-cta li a.cta {
  fill: #BC20A3;
  background-color: #BC20A3; }
.about .logo path {
  fill: #00D387; }

/* Careers */
.careers #angle-bar polygon.primary,
.careers .content h2::before,
.careers #main-cta li a.cta {
  fill: #F89500;
  background-color: #F89500; }
.careers .logo path {
  fill: #0072C8; }

/* ---------------------------- Type General ---------------------------- */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 1.5; }

li {
  margin-bottom: 10px; }

p {
  line-height: 2; }

table {
  border-collapse: collapse; }
  table td,
  table th {
    border: 1px solid #ccc;
    padding: 3px 5px; }

/* ---------------------------- Hero ---------------------------- */
.hero {
  margin-top: 30vh;
  margin-bottom: 7vw; }
  .hero h1 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(45deg, #333 0%, #000 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

@media (min-width: 768px) {
  h1 {
    transform: translateX(-5px); } }
/*  Hero Landing Pages */
.landing .hero h1 {
  font-size: 54px; }
  .landing .hero h1 + p {
    font-size: 20px;
    line-height: 1.5; }

@media (min-width: 768px) {
  .landing .hero {
    margin-top: 27vh; }
    .landing .hero h1 {
      font-size: 16vw;
      letter-spacing: -5px; }
      .landing .hero h1 + p {
        font-size: 24px;
        display: block;
        max-width: 65%; } }
/*  Hero Standard Pages */
.standard .hero {
  margin-top: 30vh;
  margin-bottom: 7vw; }
  .standard .hero h1 {
    font-size: 54px;
    position: relative; }
    .standard .hero h1 + p {
      font-size: 20px;
      line-height: 1.5; }
.standard.level3 .hero h1 {
  font-size: 44px; }

@media (min-width: 768px) {
  .standard .hero {
    margin-top: 27vh; }
    .standard .hero h1 {
      font-size: 94px;
      position: relative; }
      .standard .hero h1 + p {
        font-size: 24px;
        max-width: 992px; }
  .standard.level3 .hero h1 {
    font-size: 54px; }
    .standard.level3 .hero h1 + p {
      font-size: 19px; } }
/* Hero Work Pages --- NEDS TO BE SCSSED !!! */
.portfolio .hero-background img {
  width: 100%; }

.portfolio #main-cta,
.portfolio .logo {
  z-index: 999999; }

.portfolio .hero {
  margin-top: 50px; }

.portfolio .hero-background {
  overflow: hidden;
  position: static;
  height: auto; }

.portfolio .hero-background picture {
  max-width: none;
  height: auto; }

#angle-bar-2 {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  width: 700px;
  fill: #fff; }

@media (min-width: 768px) {
  #angle-bar-2 {
    width: 85vw; }

  .portfolio .hero-background {
    display: block;
    background-image: url(./img/angle-bar-3.svg);
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat; } }
/* Hero Backgrounds with masks */
#mask,
.hero-background.mask,
video#masked {
  width: 512px;
  height: 288px; }

@media (min-width: 768px) {
  #mask,
  .hero-background.mask,
  video#masked {
    width: 1024px;
    height: 576px; } }
@media (min-width: 992px) {
  #mask,
  .hero-background.mask,
  video#masked {
    width: 1216px;
    height: 684px; } }
@media (min-width: 1200px) {
  #mask,
  .hero-background.mask,
  video#masked {
    width: 1408px;
    height: 792px; } }
.hero-background.mask {
  position: absolute;
  top: 0;
  right: 0;
  /* Using background as temp only. Want to move SVG to HTML page and animate */ }
  .hero-background.mask #mask {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999999;
    background-image: url("../img/background-mask.svg");
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    z-index: 99999999999999; }
  .hero-background.mask video#masked {
    position: absolute;
    top: 0;
    right: 0; }

/* ---------------------------- Hero Inside ---------------------------- */
/* ---------------------------- Section Homepage Slider  ---------------------------- */
.slick-dots {
  bottom: 25px; }

.slick-dotted.slick-slider {
  margin-bottom: 0 !important; }

.slider-wrapper {
  margin-top: 90px;
  position: relative;
  overflow: hidden; }
  .slider-wrapper .background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%; }
    .slider-wrapper .background video {
      width: 100% !important;
      height: 100% !important; }

.home-slider .item {
  position: relative;
  height: 40vh;
  width: 90vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }
  .home-slider .item a {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px; }
  .home-slider .item.work {
    background-image: url(../img/home-slider-work-mask.svg); }
  .home-slider .item.services {
    background-image: url(../img/home-slider-services-mask.svg); }
  .home-slider .item.about {
    background-image: url(../img/home-slider-about-mask.svg); }
  .home-slider .item.careers {
    background-image: url(../img/home-slider-careers-mask.svg); }

@media (min-width: 768px) {
  .slider-wrapper {
    margin-top: 0px; }
    .slider-wrapper .home-slider .item {
      height: 80vh; } }
@media (min-width: 992px) {
  .home-slider .item.work {
    background-image: url(../img/home-slider-work-mask-banner.svg); }
  .home-slider .item.services {
    background-image: url(../img/home-slider-services-mask-banner.svg); }
  .home-slider .item.about {
    background-image: url(../img/home-slider-about-mask-banner.svg); }
  .home-slider .item.careers {
    background-image: url(../img/home-slider-careers-mask-banner.svg); } }
.client-logo-slider {
  background-color: #ffffff;
  padding: 50px 0; }
  .client-logo-slider .item img {
    max-height: 75px;
    margin: 0 40px; }

/* ---------------------------- Section Content Standard ---------------------------- */
.content {
  margin-top: 50px;
  margin-bottom: 50px; }
  .content.padding-t {
    padding-top: 100px; }
  .content.margin-b-zero {
    margin-bottom: 0 !important; }
  .content.grid .padding-b {
    padding-bottom: 50px; }
  .content h2 {
    font-family: "Oswald", sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 50px;
    position: relative;
    display: block; }
    .content h2::before {
      content: "";
      left: 0;
      top: -20px;
      display: block;
      position: absolute;
      width: 200px;
      height: 2px;
      background-color: #000; }
  .content ol + h2,
  .content p + h2,
  .content table + h2,
  .content ul + h2 {
    margin-top: 100px; }
  .content ol + h3,
  .content p + h3,
  .content table + h3,
  .content ul + h3 {
    margin-top: 50px; }
  .content h3 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .content h4 {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 700; }
  .content p + h3,
  .content ul + h3 {
    margin-top: 50px; }
  .content ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0 0 0 40px;
    padding: 0; }
    .content ul li {
      position: relative;
      margin-bottom: 10px;
      line-height: 2; }
      .content ul li::before {
        display: inline-block;
        content: "";
        width: 9px;
        height: 15px;
        background-image: url("../img/chevron.svg");
        background-size: contain;
        position: absolute;
        top: 6px;
        left: -20px; }

@media (min-width: 768px) {
  .content {
    margin-top: 100px;
    margin-bottom: 100px; }
    .content h2 {
      font-size: 34px; }
    .content h3 {
      font-size: 24px; } }
/* ---------------------------- Hero Video ---------------------------- */
/* ---------------------------- Navigation ---------------------------- */
.backlink a:link,
.backlink a:visited {
  display: inline-block;
  transition: all 200ms ease-in-out;
  transform: translateX(0) translateY(-10px); }
.backlink a:active,
.backlink a:hover {
  transform: translateX(-10px) translateY(-10px); }
.backlink img {
  transform: rotate(180deg) translateX(5px);
  width: 40px; }

/* Main menu in overlay */
.main-menu-open #main-menu {
  pointer-events: all;
  display: block;
  visibility: visible; }

.main-menu-open #main-menu .video,
.main-menu-open #main-menu ul {
  visibility: visible;
  pointer-events: all;
  animation-name: mainmenufade;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both; }

@keyframes mainmenufade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#main-menu {
  position: fixed;
  visibility: hidden;
  display: none;
  z-index: 999999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }
  #main-menu .video {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    z-index: 9999; }
    #main-menu .video video {
      opacity: 0.2;
      object-fit: contain;
      min-width: 100%;
      min-height: 100%; }
  #main-menu ul {
    list-style-type: none;
    visibility: hidden;
    position: relative;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    margin: 80px 20px 20px 30px;
    z-index: 9999999999999; }
    #main-menu ul li {
      padding: 0;
      margin: 0 0 10px;
      display: block; }
      #main-menu ul li a {
        color: #fff;
        font-weight: 300;
        font-size: 34px;
        display: block;
        transition: all 200ms ease-in-out;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase; }
        #main-menu ul li a:hover {
          text-decoration: none; }
        #main-menu ul li a.home:hover {
          color: #5E00F8;
          text-shadow: 0 0 50px rgba(94, 0, 248, 0.5); }
        #main-menu ul li a.work:hover {
          color: #00D387;
          text-shadow: 0 0 50px rgba(0, 211, 135, 0.5); }
        #main-menu ul li a.services:hover {
          color: #0072C8;
          text-shadow: 0 0 50px rgba(0, 114, 200, 0.5); }
        #main-menu ul li a.about:hover {
          color: #BC20A3;
          text-shadow: 0 0 50px rgba(188, 32, 163, 0.5); }
        #main-menu ul li a.careers:hover {
          color: #F89500;
          text-shadow: 0 0 50px rgba(248, 149, 0, 0.5); }

/* Outside main menu because it was not clickable */
.close {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: absolute;
  top: 30px;
  right: 30px;
  background-image: url(../img/close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 999999; }
  .close a {
    display: block;
    width: 60px;
    height: 60px;
    opacity: 1; }

@media (min-width: 768px) {
  #main-menu ul {
    display: flex;
    margin: 0; }
    #main-menu ul li {
      display: inline-block;
      margin: 0; }
      #main-menu ul li a {
        font-size: 4vw;
        display: inline-block;
        padding: 0 20px; } }
/* Main Call to Action */
nav#main-cta {
  position: fixed;
  z-index: 100;
  top: 20px;
  right: 20px; }
  nav#main-cta li {
    display: inline-block; }
    nav#main-cta li a {
      display: block;
      padding: 10px 20px;
      background-color: #f2f2f2;
      position: relative;
      transition: all 200ms ease-in-out;
      color: #000; }
      nav#main-cta li a:hover {
        text-decoration: none;
        transform: translateY(3px); }
      nav#main-cta li a.cta {
        background-color: #000;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase; }

/* Circular disc that opens to show main menu */
.main-menu-open .disc {
  animation-name: explode; }

.disc {
  position: fixed;
  z-index: 999;
  opacity: 0;
  top: 10%;
  right: 50%;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #000;
  animation-duration: 500ms;
  animation-delay: 0;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  transform-origin: center; }

@keyframes explode {
  0% {
    opacity: 0; }
  100% {
    transform: scale(80);
    opacity: 1; } }
@media (min-width: 768px) {
  .disc {
    top: 10%;
    right: 10%; }

  @keyframes explode {
    0% {
      opacity: 0; }
    100% {
      opacity: 1;
      transform: scale(200); } } }
/* Fade back the main content when nav is opening */
.main-menu-open main {
  animation-name: implode;
  animation-duration: 500ms;
  animation-delay: 0;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  transform-origin: top; }

@keyframes implode {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.9); } }
/* ---------------------------- Section Divider Headings ---------------------------- */
.divider h2 {
  font-family: "Oswald", sans-serif;
  font-size: 34px;
  text-transform: uppercase;
  margin-bottom: 50px; }
  .divider h2::before {
    content: "";
    left: 16px;
    top: -20px;
    display: block;
    position: absolute;
    width: 200px;
    height: 2px;
    background-color: #000; }

/* ---------------------------- Logo ---------------------------- */
.logo {
  position: fixed;
  z-index: 100;
  width: 40px;
  height: auto;
  top: 20px;
  left: 0;
  transform: translateX(-50px);
  animation-name: logopop;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-delay: 1000ms;
  animation-fill-mode: both; }

@keyframes logopop {
  0% {
    transform: translateX(-40px); }
  100% {
    transform: translateX(0px); } }
@media (min-width: 768px) {
  .logo {
    width: 50px;
    height: auto; }

  @keyframes logopop {
    0% {
      transform: translateX(-50px); }
    100% {
      transform: translateX(0px); } } }
/* ---------------------------- Text grid ---------------------------- */
.text-grid h2 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px; }
.text-grid p {
  line-height: 2em; }
.text-grid .padding-b {
  padding-bottom: 50px; }

@media (min-width: 768px) {
  .text-grid .padding-b {
    padding-bottom: 100px; } }
/* ---------------------------- Image grid ---------------------------- */
.image-grid .thumbnail {
  display: block;
  margin-bottom: 20px; }
.image-grid .padding-b {
  padding-bottom: 50px; }
.image-grid a {
  color: #000;
  display: block; }
.image-grid p a {
  color: #007bff; }
.image-grid h2 {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase; }
  .image-grid h2 span {
    display: block;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin-bottom: 10px; }

@media (min-width: 768px) {
  .image-grid .padding-b {
    padding-b: 100px; }
  .image-grid h2 {
    font-size: 24px;
    line-height: 1.2; } }
/* ---------------------------- Hero Background ---------------------------- */
.hero-background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 85%;
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat; }
  .hero-background.type-a {
    background-image: url("../img/bg-green-stairs.png"); }
  .hero-background.type-b {
    background-image: url("../img/bg-blue-designers.png"); }
  .hero-background.type-c {
    background-image: url("../img/bg-red-stairs.png"); }
  .hero-background.type-e {
    background-image: url("../img/bg-purple-stairs.png"); }
  .hero-background.type-f {
    background-image: url("../img/bg-orange-woman.png"); }
  .hero-background svg#angle-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; }
    .hero-background svg#angle-bar .secondary {
      fill: #ffffff; }

@media (min-width: 768px) {
  .hero-background svg#angle-bar {
    left: 5%;
    width: 100vh; } }
/* ---------------------------- Helpers ---------------------------- */
/* Arrow on Links .icon.forward */
.icon.forward::after {
  transform: translateX(10px) translateY(2px);
  display: inline-block;
  content: "";
  width: 18px;
  height: 14px;
  background-image: url("../img/arrow.svg");
  background-size: contain; }

/* ---------------------------- blockquote ---------------------------- */
blockquote {
  border: 5px solid #ccc;
  padding: 20px;
  position: relative;
  margin-top: 70px; }
  blockquote ::before {
    display: block;
    position: absolute;
    top: -44px;
    left: 0;
    width: 111px;
    height: 56px;
    content: "";
    background-image: url("../img/quotemark.svg");
    background-size: contain;
    background-repeat: no-repeat; }
  blockquote .source {
    margin: 0;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px; }
  blockquote.sidebar {
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 100px; }

@media (min-width: 768px) {
  blockquote {
    padding: 35px 15px 15px;
    margin-top: 100px; }
    blockquote ::before {
      top: -57px;
      left: 15px;
      width: 138px;
      height: 71px; }
    blockquote.sidebar {
      padding: 0;
      margin: 0;
      font-size: 24px;
      text-align: right; } }
/* ---------------------------- Footer CTA ---------------------------- */
.footer-cta .box {
  background-color: #000;
  color: #fff;
  padding: 20px 15px; }
.footer-cta a:link {
  color: #fff; }

@media (min-width: 768px) {
  .footer-cta {
    text-align: center; }
    .footer-cta .box {
      padding-top: 100px;
      padding-bottom: 100px; } }
/* ---------------------------- Footer ---------------------------- */
footer {
  padding: 50px 0 50px;
  font-size: 12px; }
  footer h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative; }
    footer h4::after {
      display: block;
      content: "";
      width: 20px;
      height: 1px;
      background-color: #000;
      position: absolute;
      top: calc(100% + 5px); }
  footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    footer ul li {
      display: block; }
      footer ul li a {
        display: block;
        color: #000; }

@media (min-width: 768px) {
  footer {
    padding: 100px 0 50px; }
    footer h4 {
      margin-top: 0; } }
